table {
   width: 100%;
}

table.fixed {
   table-layout: fixed;
}

table.widefat {
   background: #fff;
   border: 1px solid #ccd0d4;
   box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.widefat {
   border-spacing: 0;
   width: 100%;
   clear: both;
   margin: 0;
}

.widefat * {
   word-wrap: break-word;
}

table.widefat tr th:first-child {
   padding: 10px 0 0 3px;
}

.widefat .check-column {
   width: 2.2em;
   padding: 6px 0 25px;
   vertical-align: top;
}

.widefat thead tr td, .widefat thead tr th {
   color: #32373c;
}

.widefat thead td, .widefat thead th {
   line-height: 1.4em;
   border-bottom: 1px solid #ccd0d4;
}

.widefat th, .widefat thead td {
   font-weight: 400;
}

.widefat td, .widefat th {
   color: #555;
}

.widefat th, .widefat thead td {
   text-align: left;
   line-height: 1.3em;
   font-size: 14px;
}

.widefat td, .widefat th {
   padding: 8px 10px;
}

.widefat th input, .widefat thead td input {
   margin: 0 0 0 8px;
   padding: 0;
   vertical-align: text-top;
}

input[type=checkbox], input[type=radio] {
   border: 1px solid #7e8993;
   border-radius: 4px;
   background: #fff;
   color: #555;
   clear: none;
   cursor: pointer;
   display: inline-block;
   line-height: 0;
   height: 1rem;
   margin: -.25rem .25rem 0 0;
   outline: 0;
   padding: 0!important;
   text-align: center;
   vertical-align: middle;
   width: 1rem;
   min-width: 1rem;
   -webkit-appearance: none;
   box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
   transition: .05s border-color ease-in-out;
}

input[type=checkbox]:checked::before {
   content: url(check.svg);
   margin: -.3rem 0 0 -.4rem;
   height: 1.3125rem;
   width: 1.5rem;
}

input[type=checkbox]:checked::before, input[type=radio]:checked::before {
   float: left;
   display: inline-block;
   vertical-align: middle;
   speak: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

input[type=checkbox]:focus, input[type=radio]:focus {
   border-color: #007cba;
   box-shadow: 0 0 0 1px #007cba;
   outline: 2px solid transparent;
}

th.gravatar {
   text-align: center;
}

.dashicons, .dashicons-before:before {
   font-family: dashicons;
   display: inline-block;
   line-height: 1;
   font-weight: 400;
   font-style: normal;
   speak: none;
   text-decoration: inherit;
   text-transform: none;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   width: 20px;
   height: 20px;
   font-size: 20px;
   vertical-align: top;
   text-align: center;
   transition: color .1s ease-in;
}

th.gravatar span.dashicons:before {
   font-size: 24px;
}

.table-list th span.dashicons:before {
   color: #32373c;
   opacity: 0.5;
   font-size: 18px;
   vertical-align: baseline;
}

td.gravatar {
   text-align: center;
}

td.gravatar img {
   border-radius: 50%;
}

td img {
   border: none;
}

.row-actions {
   color: #ddd;
   font-size: 13px;
   padding: 2px 0 0;
   position: relative;
   left: -9999em;
}

tr:hover .row-actions {
   position: static;
}

.table-list a {
   transition: none;
}

.widefat a {
   text-decoration: none;
}

.widefat a:focus {
   color: #124964;
   box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30,140,190,.8);
   outline: 1px solid transparent;
}

.widefat a:active, .widefat a:hover {
   color: #00a0d2;
}

.row-actions a.delete {
   color: red;
}

.table-list td {
   vertical-align: top;
}

.table-list>tbody>:nth-child(odd), ul.table-list>:nth-child(odd) {
   background-color: #f9f9f9;
}

p.search-box {
   float: right;
   margin: 0;
}

.search-box input[type=search] {
   float: left;
   margin: 0 4px 0 0;
   -webkit-appearance: textfield;
   padding: 0 8px;
   line-height: 2;
   min-height: 30px;
   box-shadow: 0 0 0 transparent;
   border-radius: 4px;
   border: 1px solid #7e8993;
   background-color: #fff;
   color: #32373c;
   font-size: 14px;
}

p .button {
   vertical-align: baseline;
}

.button {
   color: #0071a1;
   border-color: #0071a1;
   background: #f3f5f6;
   vertical-align: top;
}

.button {
   display: inline-block;
   text-decoration: none;
   font-size: 13px;
   line-height: 2.15384615;
   min-height: 30px;
   margin: 0;
   padding: 0 10px;
   cursor: pointer;
   border-width: 1px;
   border-style: solid;
   -webkit-appearance: none;
   border-radius: 3px;
   white-space: nowrap;
   box-sizing: border-box;
}

.button:active {
   background: #f3f5f6;
   border-color: #7e8993;
   box-shadow: none;
}

.button:focus {
   background: #f3f5f6;
   border-color: #007cba;
   color: #016087;
   box-shadow: 0 0 0 1px #007cba;
   outline: 2px solid transparent;
   outline-offset: 0;
}

.button:hover {
   background: #f1f1f1;
   border-color: #016087;
   color: #016087;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

.tablenav {
   clear: both;
   height: 30px;
   margin: 6px 0 4px;
   padding-top: 5px;
   vertical-align: middle;
}

.tablenav .actions {
   padding: 0 8px 0 0
}

.alignleft {
   float: left;
}

.tablenav .actions select {
   float: left;
   margin-right: 6px;
   max-width: 12.5rem;
}

.tablenav select:active {
   border-color: #999;
   box-shadow: none;
}

.tablenav select:focus {
   border-color: #007cba;
   color: #016087;
   box-shadow: 0 0 0 1px #007cba;
}

.tablenav select {
   font-size: 14px;
   line-height: 2;
   color: #32373c;
   border-color: #7e8993;
   box-shadow: none;
   border-radius: 3px;
   padding: 0 24px 0 8px;
   min-height: 30px;
   max-width: 25rem;
   -webkit-appearance: none;
   background: #fff url(dropdown.svg) no-repeat right 5px top 55%;
   background-size: 16px 16px;
   cursor: pointer;
   vertical-align: middle;
}

.tablenav .tablenav-pages {
   float: right;
   margin: 0 0 9px;
}

.tablenav .displaying-num {
   margin-right: 7px;
}

.tablenav .tablenav-pages .button {
   display: inline-block;
   vertical-align: baseline;
   min-width: 30px;
   min-height: 30px;
   margin: 0;
   padding: 0 4px;
   font-size: 16px;
   line-height: 1.625;
   text-align: center;
}

.tablenav-pages .current-page {
   margin: 0 2px 0 0;
   font-size: 13px;
   text-align: center;
}

.paging-input input.current-page {
   padding: 0 8px;
   line-height: 2;
   min-height: 30px;
   box-shadow: 0 0 0 transparent;
   border-radius: 4px;
   border: 1px solid #7e8993;
   background-color: #fff;
   color: #32373c;
}

.tablenav .total-pages {
   margin-right: 5px;
}

.pagination-links .button {
   text-decoration: none;
}

.paging-input {
   padding-left: 5px;
}